/* CSS for if the user is playing in light mode */
.light-mode nav {
  background-color: #553A41;
}

.light-mode {
  background-color: white;
}

.light-mode .card {
  background-color: white;
}

.light-mode .activeStage {
  background-color: #74d3aeff;
}

.light-mode .input-text-color {
  color: black;
  text-align: center;
}

.light-mode #featured-map-info {
  margin: auto;
  width: 400px;
  background-color: #efefefff;
}

.light-mode #map-info {
  margin: auto;
  height: 80px;
  width: 290px;
  background-color: #efefefff;
}

.light-mode .materialbox {
  box-shadow: none;
}

.light-mode textarea {
  height: 20vh;
  width: 50%;
  background-color: #efefefff;
  color: black;
}

/* CSS for if the user is playing in dark mode */
.dark-mode nav {
  background-color: #000000ff;
}

.dark-mode {
  background-color: #434343ff;
  color: white;
}

.dark-mode .card {
  background-color: #434343ff;
}

.dark-mode .activeStage {
  background-color: #32908F;
}

.dark-mode .input-text-color {
  color: white;
  text-align: center;
}

.dark-mode input {
  color: white;
}

.dark-mode #featured-map-info {
  margin: auto;
  width: 400px;
  background-color: #021b32ff;
}

.dark-mode #map-info {
  margin: auto;
  height: 80px;
  width: 290px;
  background-color: #021b32ff;
}

.dark-mode textarea {
  height: 20vh;
  width: 50%;
  background-color: #666666ff;
  color: white;
}

#featured-map {
  margin: auto;
  width: 400px;
}

#individual-map {
  padding: 6px;
  margin: 5px;
  width: 300px;
}

input {
  background-color: gray;
}

.hidden {
  display:none;
}

/* Sets the map to about half of the screen height */
#map {
  border: thin solid black;
  height: 25vw;
  width: 100%;
}

/* Sets the map the user plays on to the height of the screen */
#playMap {
  float:left;
  border: thin solid black;
  height: 95vh;
  width: 70%;
}

.mapToPlay {
  margin: auto;
}

ol#hints {
  list-style-position: inside
}


.black-text {
  color: black;
}

#all-maps {
  margin: auto;
  box-shadow: none;
  max-width: 80%;
  display: flex;
  flex-wrap: wrap;
}

.cursor-pointer {
  cursor: pointer;
  margin-bottom: -5px;
}

.width300 {
  width: 300px;
}

.green-text {
  color: green;
}

.orange-text {
  color: orange;
}

.red-text {
  color: red;
}

.larger-text {
  font-size: 2em;
}


/* Add CSS that starts with pac is for the search bar on the createGame.html page map */
.pac-card {
  margin: 10px 10px 0 0;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: Roboto;
}

#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}

.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

.pac-controls label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}

#pac-input:focus {
  border-color: #4d90fe;
}
