/* CSS for if the user is playing in light mode */
.light-mode nav {
  background-color: #553A41;
}

.light-mode {
  background-color: white;
}

.light-mode .activeStage {
    background-color: #74d3aeff;
}

/* CSS for if the user is playing in dark mode */
.dark-mode nav {
  background-color: #000000ff;
}

.dark-mode {
  background-color: #434343ff;
}

.dark-mode .activeStage {
    background-color: #32908F;
}

input {
  background-color: gray;
}

.hidden {
  display:none;
}

/* Sets the map to about half of the screen height
 */
#map {
  border: thin solid black;
  height: 25vw;
  width: 100%;
}

/* Sets the map the user plays on to the height of the screen */
#playMap {
  border: thin solid black;
  height: 49vw;
  width: 70%;
  float:left
}

.square {
  height: 50px;
  width: 50px;
  background-color: #555;
}

.rectangle {
  height: 25px;
  width: 50px;
  background-color: #555;
}
